In [1]:
import os
import sys
from os.path import join
import pandas as pd
import numpy as np

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

---
# Create department/organization location table
Using tables provided via the duke facilities database, figure out how to assign a single location to each unique department

In [3]:
# Read in the room table (entry for every room on campus, along with associated DUKE_NUMBER, i.e. organization number)
bl_df = pd.read_table('data/raw/SQL_output/buildingByDepartment.tsv', sep='\t')

In [4]:
bl_df.head()

  BL_ID FL_ID RM_ID  DUKE_NUMBER
0  7593    06  6004   6860505000
1  7593    06  6302   6860505000
2  7593    06  6005   6860505000
3  7593    06  6013   6860505000
4  7593    06  6204     99999981

Note that a given DUKE_NUMBER can have rooms assigned in multiple buildings. Assign the DUKE_NUMBER to the building in which *most* of its rooms are concentrated

#### Test out with a single unique DUKE_NUMBER

In [5]:
tmp = bl_df.loc[bl_df.DUKE_NUMBER == 6860505000]
tmp.head()

  BL_ID FL_ID RM_ID  DUKE_NUMBER
0  7593    06  6004   6860505000
1  7593    06  6302   6860505000
2  7593    06  6005   6860505000
3  7593    06  6013   6860505000
6  7593    08  8500   6860505000

In [6]:
roomCount = tmp.groupby('BL_ID').count()
roomCount

       FL_ID  RM_ID  DUKE_NUMBER
BL_ID
7504      75     75           75
7505       9      9            9
7593     333    333          333
8060       5      5            5
8138     306    306          306
8641       2      2            2

In [7]:
roomCount.idxmax()

FL_ID          7593
RM_ID          7593
DUKE_NUMBER    7593
dtype: object

#### Apply this approach to the entire table. 
Assign a building ID to each unique DUKE_NUMBER
based on the building that has the *most* rooms for that DUKE_NUMBER

In [8]:
# group dataframe based on 1) DUKE_NUMBER, then 2) BL_ID.
# count the number of rooms in each building owned by each DUKE_NUMBER
bl_by_dukeNumber = bl_df.groupby(['DUKE_NUMBER', 'BL_ID']).count()

In [9]:
bl_by_dukeNumber.head()

                   FL_ID  RM_ID
DUKE_NUMBER BL_ID
16000001    7976      54     54
20111000    7502       2      2
            7504       2      2
            7507       8      8
            7508       9      9

In [10]:
# Get the index (i.e.) building ID of the building with the most rooms
bl_id_max = bl_by_dukeNumber.groupby(level='DUKE_NUMBER').idxmax()
bl_id_max.head()

                        FL_ID             RM_ID
DUKE_NUMBER
16000001     (16000001, 7976)  (16000001, 7976)
20111000     (20111000, 7508)  (20111000, 7508)
20112000     (20112000, 7508)  (20112000, 7508)
20113000     (20113000, 8238)  (20113000, 8238)
20114000     (20114000, 8160)  (20114000, 8160)

In [11]:
# reformat the table (grab the bl_id value from each entry, drop unecessary cols)
bl_id_max['BL_ID'] = bl_id_max.loc[:, 'FL_ID'].apply(lambda x: x[1])
bl_id_max.drop(['FL_ID', 'RM_ID'], axis=1, inplace=True)
bl_id_max.head()

            BL_ID
DUKE_NUMBER
16000001     7976
20111000     7508
20112000     7508
20113000     8238
20114000     8160

### Get the details about each building from the building info table
For each building ID, use the building info table (from duke facilities) to retrieve information about its address and location

In [12]:
blinfo = pd.read_table('data/raw/SQL_output/buildingInfo.tsv', sep='\t')

In [13]:
blinfo.head()

  BL_ID              ADDRESS1 CITY_ID STATE_ID    ZIP        LON        LAT
0  7101         400 Gattis St  DURHAM       NC  27701 -78.918480  36.000104
1  7503  40 Duke Medicine Cir  DURHAM       NC  27705 -78.937025  36.004101
2  7505  40 Duke Medicine Cir  DURHAM       NC  27705 -78.937028  36.004417
3  7506  40 Duke Medicine Cir  DURHAM       NC  27705 -78.935105  36.003996
4  7507  40 Duke Medicine Cir  DURHAM       NC  27705 -78.936950  36.003063

In [14]:
#### Define functions to retrieve values from building info dataframe
def getBuildingInfo(this_bl_id, field):
    val = blinfo.loc[blinfo.BL_ID==this_bl_id, field]
    return val.values[0]

In [15]:
bl_id_max['ADDRESS'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('ADDRESS1',))
bl_id_max['CITY'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('CITY_ID',))
bl_id_max['STATE'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('STATE_ID',))
bl_id_max['ZIP'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('ZIP',))
bl_id_max['LON'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('LON',))
bl_id_max['LAT'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('LAT',))

In [16]:
bl_id_max.head()

,BL_ID,ADDRESS,CITY,STATE,ZIP,LON,LAT
DUKE_NUMBER,,,,,,,
16000001,7976,310 Blackwell St,DURHAM,NC,27701,-78.903707,35.993959
20111000,7508,40 Duke Medicine Cir,DURHAM,NC,27705,-78.935915,36.003337
20112000,7508,40 Duke Medicine Cir,DURHAM,NC,27705,-78.935915,36.003337
20113000,8238,3100 Tower Blvd,DURHAM,NC,27707,-78.959159,35.971664
20114000,8160,615 Douglas St,DURHAM,NC,27705,-78.941504,36.009265

This dataframe now has a row for each unique organization. The columns indicate the location of the building associated with each organization. As there can be multiple organizations to one building, certain buildings are repeated multiple times throughout this dataframe

In [17]:
# rename for clarity
orgLoc_df = bl_id_max.copy()

# write this data to file
orgLoc_df.to_csv('data/processed/organization_locations.tsv', sep='\t')

In [18]:
# number of unique buildings in the dataset
len(np.unique(bl_id_max.BL_ID))

173

---
# Test out how to retrieve distance and duration values from the Google Maps API
Take the latitude and longitude for each building, and find the distance and duration (for walking?) to every other buildings. Test this out with one building-to-building combo, but put the final code in a separate script so that the API access limits are hit by accidently running the cell mulitple times

In [19]:
bl1 = orgLoc_df.iloc[2]
bl1

BL_ID                      7508
ADDRESS    40 Duke Medicine Cir
CITY                     DURHAM
STATE                        NC
ZIP                       27705
LON                    -78.9359
LAT                     36.0033
Name: 20112000, dtype: object

In [20]:
bl2 = orgLoc_df.iloc[42]
bl2

BL_ID               7546
ADDRESS    2301 Erwin Rd
CITY              DURHAM
STATE                 NC
ZIP                27705
LON             -78.9384
LAT              36.0071
Name: 30211022, dtype: object

In [21]:
import googlemaps

In [22]:
# create gmaps Client object using my API key
gmaps = googlemaps.Client(key='AIzaSyDta2p1trVbKRTnDLVX6m4lkGAA3U-BhA0')

In [23]:
distMatrix = gmaps.distance_matrix((bl1.LAT, bl1.LON), (bl2.LAT, bl2.LON))

In [24]:
distMatrix

{u'destination_addresses': [u'2301 Erwin Rd, Durham, NC 27705, USA'],
 u'origin_addresses': [u'Flowers Dr, Durham, NC, USA'],
 u'rows': [{u'elements': [{u'distance': {u'text': u'1.1 km', u'value': 1060},
     u'duration': {u'text': u'6 mins', u'value': 351},
     u'status': u'OK'}]}],
 u'status': u'OK'}

In [25]:
distMatrix['rows'][0]['elements'][0]['duration']['value']

351

In [26]:
distMatrix['rows'][0]['elements'][0]['distance']['value']

1060

### Ideas for how to loop this
* create 2 dataframes, each N_buildings x N_buildings big
    * initialize with np.zeros array
    * index is building IDs, columns are building IDs
    
* User Itertools to create iterable combination of all building IDs with every other building ID
    * no repeats
    
* Iterate through each building-building combo
    * if they are the SAME building, skip this one. Else
    * set one as origin, one as destination, look up distanceMatrix using gmaps
    * retrieve distance and duration values
    * find BOTH (building 1, building 2) and (building 2, building 1) locations in the appropriate dataframes and write the same value to BOTH coordinates

In [27]:
idx = cols = sort(np.unique(orgLoc_df.BL_ID).tolist())

In [28]:
# figure out how big to make each dimension of the array
n_buildings = len(np.unique(orgLoc_df.BL_ID))

# create matrix of zeros
distances = durations = np.zeros(shape=(n_buildings, n_buildings))

# initialize dataframe
dist_df = pd.DataFrame(data=distances, index=idx, columns=cols)
dur_df = pd.DataFrame(data=durations, index=idx, columns=cols)

In [29]:
dist_df.head()

,7101,7104,7107,7131,7196,7197,7198,7201,7202,7206,...,8348,8349,8350,8370,8612,8634,8641,8642,8668,DKU5
7101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
dur_df.head()

,7101,7104,7107,7131,7196,7197,7198,7201,7202,7206,...,8348,8349,8350,8370,8612,8634,8641,8642,8668,DKU5
7101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

---
# Make a table identifying each collaboration
A collaboration is defined as 2 people working together on the same project. The scholars_publications.csv lists one author per publication. Thus, for publications with more than 1 author, the publication details are repeated multiple times in the dataframe. The goal here is to reformat the collaborations such that each row lists 2 authors who collaborated on a given publication, as well as the rest of the information for that publication (e.g. year, etc...)

In [22]:
# read in the scholars_publications table
pub_df = pd.read_table('./data/raw/scholars_publications.csv', sep='\t', low_memory=False)

# drop the 'ABSTRACT' column to free up memory
pub_df.drop('ABSTRACT', axis=1, inplace=True)

# there are ~200 duplicate rows in this table. Drop them as well
pub_df.drop_duplicates(inplace=True)

In [23]:
pub_df[:3]

,DUID,PRO_FIRST_NAME,PRO_MIDDLE_NAME,PRO_LAST_NAME,DISPLAY_NAME,TITLE,AUTHOR_URI,PUBLICATION_URI,PUBLISHED_DATE,PUBLICATION_TYPE,DOI,ISSN,EISSN,ISBN10,ISBN13,JOURNAL,Volume / Issue
0,623466,David,W,Jang,"Surgery, Head and Neck Surgery and Communicati...",Product comparison model in otolaryngology: Eq...,https://scholars.duke.edu/individual/per7361302,https://scholars.duke.edu/individual/pub1118321,1/1/2016 12:00:00 AM,Theses and Dissertations,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73333,Carol,Casper,Figuers,"Orthopaedics, Physical Therapy",Developing a Professional Embodiment of Moveme...,https://scholars.duke.edu/individual/per4051842,https://scholars.duke.edu/individual/pub1071600,3/3/2015 12:00:00 AM,Theses and Dissertations,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,279169,Jeffrey,Kyle,Covington,"Orthopaedics, Physical Therapy",Developing a Professional Embodiment of Moveme...,https://scholars.duke.edu/individual/per0337862,https://scholars.duke.edu/individual/pub1071600,3/3/2015 12:00:00 AM,Theses and Dissertations,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# count the number of entries in the table by publication type
numByType = pub_df.groupby('PUBLICATION_TYPE').count()
numByType

,DUID,PRO_FIRST_NAME,PRO_MIDDLE_NAME,PRO_LAST_NAME,DISPLAY_NAME,TITLE,AUTHOR_URI,PUBLICATION_URI,PUBLISHED_DATE,DOI,ISSN,EISSN,ISBN10,ISBN13,JOURNAL,Volume / Issue
PUBLICATION_TYPE,,,,,,,,,,,,,,,,
Book,599,599,286,599,599,599,599,599,599,67,0,0,137,259,0,0
Book Review,115,115,50,115,115,115,115,115,115,30,65,9,0,0,20,0
Book Section,1994,1994,1292,1994,1994,1994,1994,1994,1994,698,0,0,167,1018,0,0
Book Series,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Conference Paper,4976,4976,3405,4976,4976,4976,4976,4976,4976,1279,4487,532,11,617,1359,0
Dataset,4,4,3,4,4,4,4,4,4,3,0,0,0,0,0,0
Digital Publication,84,84,47,84,84,84,84,84,84,2,2,0,0,0,0,0
Journal Article,67878,67876,51405,67876,67851,67876,67878,67878,67878,61075,43625,47900,0,0,27099,67794
Journal Issue,22,22,11,22,22,22,22,22,22,2,9,3,0,0,0,22
Other Article,1276,1276,830,1276,1276,1276,1276,1276,1276,522,491,412,1,10,242,0
Report,106,106,37,106,106,106,106,106,106,7,5,0,0,2,0,0
Scholarly Edition,53,53,29,53,53,53,53,53,53,24,0,0,0,0,0,0
Theses and Dissertations,5,5,3,5,5,5,5,5,5,0,0,0,0,0,0,0

In [25]:
# get the number of collaborators on each project by counting how many entries are associated with each unique PUBLICATION_URI
numByPubURI = pub_df.groupby('PUBLICATION_URI').count()

# grab the index values of publication URIs that have more than 1 author associated with them
multiauthorPubURIs = numByPubURI.loc[numByPubURI.DUID>1].index

In [26]:
# print the number of publications with more than 1 author
multiauthorPubURIs.shape

(13851,)

Test how to make a collaboration table out of all of the authors listed for a given multi-author publication

In [27]:
authors = pub_df.loc[pub_df.PUBLICATION_URI == multiauthorPubURIs[4], :]
authors

,DUID,PRO_FIRST_NAME,PRO_MIDDLE_NAME,PRO_LAST_NAME,DISPLAY_NAME,TITLE,AUTHOR_URI,PUBLICATION_URI,PUBLISHED_DATE,PUBLICATION_TYPE,DOI,ISSN,EISSN,ISBN10,ISBN13,JOURNAL,Volume / Issue
19332,373496,Junzo,Paul,Chino,Radiation Oncology,How much is another randomized trial of lymph ...,https://scholars.duke.edu/individual/per7661872,https://scholars.duke.edu/individual/pub1000158,1/1/2013 12:00:00 AM,Journal Article,10.1016/j.ygyno.2013.06.025,0090-8258,NaN,NaN,NaN,NaN,131 / 1
19338,135843,Evan,Robert,Myers,Obstetrics/Gynecology,How much is another randomized trial of lymph ...,https://scholars.duke.edu/individual/per4103452,https://scholars.duke.edu/individual/pub1000158,1/1/2013 12:00:00 AM,Journal Article,10.1016/j.ygyno.2013.06.025,0090-8258,NaN,NaN,NaN,NaN,131 / 1
19341,71139,Laura,Jean,Havrilesky,"Obstetrics and Gynecology, Gynecologic Oncology",How much is another randomized trial of lymph ...,https://scholars.duke.edu/individual/per0039842,https://scholars.duke.edu/individual/pub1000158,1/1/2013 12:00:00 AM,Journal Article,10.1016/j.ygyno.2013.06.025,0090-8258,NaN,NaN,NaN,NaN,131 / 1

In [28]:
import itertools

In [29]:
for a1,a2 in itertools.combinations(authors.index, 2):
    
    # refer to the first collaborator as the src, and 2nd as dest
    src = authors.loc[a1]
    dest = authors.loc[a2]
    print src.PRO_FIRST_NAME, dest.PRO_FIRST_NAME

Junzo Evan
Junzo Laura
Evan Laura

Use itertools to build an iterator to loop through unique combinations of 2 authors from the full author list for each publication in the multiauthorPubURIs list

In [ ]:
# loop through each publication with more than 1 author
collabsList = []
pubID = 0;
for URI in multiauthorPubURIs:
    # get a dataframe of all of the authors for this publication
    authors = pub_df.loc[pub_df.PUBLICATION_URI == URI, :]
    
    # build an iterator to loop through unique combinations of 2 authors
    for a1, a2 in itertools.combinations(authors.index, 2):
        
        # author 1 referred to as src; author 2 as dst
        src = authors.loc[a1]
        dst = authors.loc[a2]
        
        # extract relevant info for each author
        thisCollab = {'src_DUID': src.DUID,
                     'src_FIRST_NAME': src.PRO_FIRST_NAME,
                     'src_MIDDLE_NAME': src.PRO_MIDDLE_NAME,
                     'src_LAST_NAME':src.PRO_LAST_NAME,
                     'dst_DUID': dst.DUID,
                     'dst_FIRST_NAME': dst.PRO_FIRST_NAME,
                     'dst_MIDDLE_NAME': dst.PRO_MIDDLE_NAME,
                     'dst_LAST_NAME': dst.PRO_LAST_NAME,
                     'PUBLICATION_TYPE': src.PUBLICATION_TYPE,
                     'PUBLISHED_DATE':src.PUBLISHED_DATE,
                     'PUBLICATION_URI':src.PUBLICATION_URI, 
                     'PUBLICATION_ID':pubID,
                     'TOTAL_AUTHORS': authors.shape[0]}
        collabsList.append(thisCollab)
    
    # increment publication id
    pubID += 1

# write it all to a dataframe
collab_df = pd.DataFrame(collabsList)

In [ ]:
# print the shape; indicates how many collaborations total in this dataset
collab_df.shape

In [42]:
collab_df.head()

,PUBLICATION_ID,PUBLICATION_TYPE,PUBLICATION_URI,PUBLISHED_DATE,TOTAL_AUTHORS,dst_DUID,dst_FIRST_NAME,dst_LAST_NAME,dst_MIDDLE_NAME,src_DUID,src_FIRST_NAME,src_LAST_NAME,src_MIDDLE_NAME
0,0,Journal Article,https://scholars.duke.edu/individual/pub1000033,5/1/2013 12:00:00 AM,2,272070,Shelby,Reed,Derene,99016,Richard,Keefe,S.E.
1,1,Journal Article,https://scholars.duke.edu/individual/pub1000035,7/1/2013 12:00:00 AM,2,591120,John,Reynolds,Michael,119821,Laurie,Snyder,Dee
2,2,Journal Article,https://scholars.duke.edu/individual/pub1000091,10/3/2012 12:00:00 AM,2,98973,John,Alexander,Hunter Peel,314783,Pierluigi,Tricoci,NaN
3,3,Journal Article,https://scholars.duke.edu/individual/pub1000099,11/1/2013 12:00:00 AM,2,449347,Endi,Wang,NaN,435364,Maggie,Stoecker,Marie
4,4,Journal Article,https://scholars.duke.edu/individual/pub1000158,1/1/2013 12:00:00 AM,3,135843,Evan,Myers,Robert,373496,Junzo,Chino,Paul

In [43]:
# write this file to disk
collab_df.to_csv('data/processed/collaborations.tsv', sep='\t', index=False)

In [44]:
# number of unique collaborations
len(np.unique(pub_df.PUBLICATION_URI))

51233

---
# Add information about organizations to each collaboration 
The collaboration dataframe currently has basic information about each individual in the collaboration. The next step is to figure out which department/organization/DUKE_NUMBER is best associated with each individual

#### Figure out which DUKE_NUMBER is associated with each individual

In [45]:
# create a list of each unique DUID mentioned in the collaboration dataframe
srcDUIDs = np.unique(collab_df.src_DUID)
dstDUIDs = np.unique(collab_df.dst_DUID)

uniqueDUIDs = list(set().union(srcDUIDs, dstDUIDs))

In [46]:
# number of unique DUIDs in the collaboration table
len(uniqueDUIDs)

2461

In [47]:
uniqueDUIDs[:10]

[32770, 114691, 40968, 114697, 466957, 204819, 55982, 458782, 204832, 426023]

In [179]:
# Load scholars_faculty dataframe
faculty_df = pd.read_table('data/raw/scholars_faculty.csv', sep='\t')

# drop duplicates
faculty_df.drop_duplicates(inplace=True)

faculty_df.head()

,DUID,PRO_FIRST_NAME,PRO_MIDDLE_NAME,PRO_LAST_NAME,APPOINTMENT_TYPE,TITLE,Appt Org BFR,Appt Org Unit,Appt Org Desc
0,1080,Daniel,James,George,Primary,"Professor of Medicine, with tenure",6860201545,50000856,Medicine - Oncology
1,1080,Daniel,James,George,Secondary,Professor in Surgery,6860207000,50000983,Surgery
2,1255,Suzanne,(null),Shanahan,Administrative,Co-Director of the Kenan Institute for Ethics,6008208000,50000373,Kenan Institute for Ethics
3,1255,Suzanne,(null),Shanahan,Primary,Associate Research Professor in the Department...,6064105610,50000532,Sociology
4,1438,John,J.,Glushik,Primary,Director of Translational Services in Innovati...,6008101000,50000280,PAS Adm - Provost Office

In [181]:
# print total number of entries in this table
faculty_df.shape

(8659, 9)

In [198]:
def findOrgBFR(duid): 
    """
    Try to find an individual's Organization number (aka DUKE_NUMBER, Appt Org BFR)
    based on their DUID. Look for it in a couple of different ways. 
    First:
       Try looking up the DUID in the scholars_faculty.csv file. If found, grab the 'Appt Org BFR'. 
       If DUID listed multiple times, take the row where APPOINTMENT_TYPE is 'Primary'. If no 'Primary'
       then take the first entry listed.
    Second:
       If DUID not found in scholars_faculty.csv, try searching via their appointments and affiliations
       listed in the scholars_publications.csv. Find a publication record based on this DUID, grab the
       'DISPLAY_NAME' field. Separate the appointments into a list. Go through appointment in the list,
       and try to find another entry in the scholars_faculty.csv where the 'Appt Org Desc' field
       matches the appointment. If found, grab the 'Appt Org BFR' for that entry; If not found, try the
       next appointment. 

    Finally:
        if still no organization number is found, set the organization number to 0. 
    """
    try:
        orgNum = int(0);
        # First Attemp: Is this DUID in the scholars_faculty.csv?
        if duid in faculty_df.DUID.values:
            thisPerson = faculty_df.loc[faculty_df.DUID == duid, ['APPOINTMENT_TYPE', 'Appt Org BFR']]
            # if this person has more than 1 entry
            if thisPerson.shape[0]>1:

                # if one of their entries is listed as 'Primary'
                if 'Primary' in thisPerson.APPOINTMENT_TYPE.values:
                    orgNum = int(thisPerson.loc[thisPerson.APPOINTMENT_TYPE=='Primary', 'Appt Org BFR'].iloc[0])

                # otherwise take the first field
                else:
                    orgNum = int(thisPerson['Appt Org BFR'].iloc[0])
            else:
                # if only one entry, take that one
                orgNum = int(thisPerson['Appt Org BFR'].item())

        # Second attempt: search via appointments
        else:
            # grab the 'DISPLAY_NAME' field from publications dataframe
            appts = pub_df.loc[pub_df.DUID == duid, 'DISPLAY_NAME'].iloc[0]
            
            # separate multiple appts into a list
            appts = appts.split(',')
            appts = [x.lstrip() for x in appts]
            
            # loop through each appt, try to record for someone else with same appt
            for appt in appts:
                otherRecords = faculty_df.loc[[x == appt for x in faculty_df['Appt Org Desc']], 'Appt Org BFR']
                
                # if another record found, grab that record's 'Appt Org BFR'
                if otherRecords.shape[0] > 0:
                    orgNum = otherRecords.iloc[0]
                    
                    # stop searching
                    break                
    except:
        # if this DUID isn't found at all, or it errors
        orgNum = int(0)
    return orgNum

In [200]:
# find the Org BFR for each src and dst in the collaboration table
collab_df['src_OrgBFR'] = collab_df.src_DUID.apply(findOrgBFR)
collab_df['dst_OrgBFR'] = collab_df.dst_DUID.apply(findOrgBFR)

In [226]:
noOrg = collab_df.loc[(collab_df.src_OrgBFR == 0) | (collab_df.dst_OrgBFR == 0), :]

In [227]:
msg = """
There are %s entries out of %s where the orgBFR number could not be found 
for either the src OR the dst
""" %(noOrg.shape[0], collab_df.shape[0])

print msg

There are 32 entries out of 50153 where the orgBFR number could not be found for either the src OR the dst

#### Kinda annoying, but few enough that they can be corrected by hand

no Org BFR for the src in the collaboration

In [228]:
noSrc = collab_df.loc[collab_df.src_OrgBFR == 0, :]

In [244]:
noSrc.src_DUID.unique()

array([ 78958,  99154, 100772, 114379, 117254])

In [248]:
collab_df.loc[collab_df.src_DUID == 78958, 'src_OrgBFR'] = int(6860205500)   # Obsterics & Gynecology
collab_df.loc[collab_df.dst_DUID == 78958, 'dst_OrgBFR'] = int(6860205500)   # Obsterics & Gynecology

collab_df.loc[collab_df.src_DUID == 99154, 'src_OrgBFR'] = int(6064105000)   # Religious Studies
collab_df.loc[collab_df.dst_DUID == 99154, 'dst_OrgBFR'] = int(6064105000)   # Religious Studies

collab_df.loc[collab_df.src_DUID == 100772, 'src_OrgBFR'] = int(6056103000)  # Environmental Sciences & Policy
collab_df.loc[collab_df.dst_DUID == 100772, 'dst_OrgBFR'] = int(6056103000)  # Environmental Sciences & Policy

collab_df.loc[collab_df.src_DUID == 114379, 'src_OrgBFR'] = int(6860205500)  # Obsterics & Gynecology
collab_df.loc[collab_df.dst_DUID == 114379, 'dst_OrgBFR'] = int(6860205500)  # Obsterics & Gynecology

collab_df.loc[collab_df.src_DUID == 117254, 'src_OrgBFR'] = int(6056500000)  # Marine Science & Conservation
collab_df.loc[collab_df.dst_DUID == 117254, 'dst_OrgBFR'] = int(6056500000)  # Marine Science & Conservation

no Org BFR in the dst in the collaboration

In [249]:
noDst = collab_df.loc[collab_df.dst_OrgBFR == 0, :]

In [250]:
noDst.loc[:, ['dst_DUID', 'dst_FIRST_NAME', 'dst_LAST_NAME']]

       dst_DUID dst_FIRST_NAME dst_LAST_NAME
2620     215304       Patricia      Leighten
11760     96445           Eric        Meyers
35898    117255          Celia   Bonaventura
35899    117255          Celia   Bonaventura
36610    117031         Norman   Christensen

In [258]:
collab_df.loc[collab_df.dst_DUID == 215304, 'dst_OrgBFR'] = int(6064100200)   # Art, Art History, & Vis studies
collab_df.loc[collab_df.dst_DUID == 96445, 'dst_OrgBFR'] = int(6064105000)    # Religious Studies
collab_df.loc[collab_df.dst_DUID == 117255, 'dst_OrgBFR'] = int(6056500000)  # Marine Science & Conservation
collab_df.loc[collab_df.dst_DUID == 117031, 'dst_OrgBFR'] = int(6056103000)  # Environmental Sciences & Policy

#### Make sure there are no more entries with unknown src or dst Org BFR

In [259]:
noOrg = collab_df.loc[(collab_df.src_OrgBFR == 0) | (collab_df.dst_OrgBFR == 0), :]

In [264]:
msg = """
There are %s entries out of %s where the orgBFR number could not be found 
for either the src OR the dst
""" %(noOrg.shape[0], collab_df.shape[0])

print msg

There are 0 entries out of 50153 where the orgBFR number could not be found
for either the src OR the dst

# Find Building ID associated with each OrgBFR
of course the OrgBFR number is not a direct 1:1 mapping with the DUKE_NUMBER in the organization_locations dataframe. For some folks, that's the case, but for others the first part of their OrgBFR number matches, but the last few digits are different, suggesting these last values encode something else (subdepartment?). 

So, for each OrgBFR: First, try to look up that value in ROOMDEPARTMENTSPLIT.tsv. If found, great, grab the Building ID (BL_ID). If not, try to look up value in SUBDEPARTMENTSPLIT.tsv. If found, grab the ROOM_DEPARTMENT_SPLIT_ID, and then look up that value in ROOMDEPARTMENTSPLIT.tsv, and grab the associated BL_ID.

In [ ]:
collab_df = pd.read_table

In [268]:
collab_df = f.copy()

---
# Add information about the buildings to each collaboration
Now that we know the respective organizations for each member of every collaboration, we can use that information to look up the buildings associated with each organization

In [279]:
tmp = collab_df.iloc[1]
tmp

PUBLICATION_ID                                                    1
PUBLICATION_TYPE                                    Journal Article
PUBLICATION_URI     https://scholars.duke.edu/individual/pub1000035
PUBLISHED_DATE                                 7/1/2013 12:00:00 AM
TOTAL_AUTHORS                                                     2
dst_DUID                                                     591120
dst_FIRST_NAME                                                 John
dst_LAST_NAME                                              Reynolds
dst_MIDDLE_NAME                                             Michael
src_DUID                                                     119821
src_FIRST_NAME                                               Laurie
src_LAST_NAME                                                Snyder
src_MIDDLE_NAME                                                 Dee
src_OrgBFR                                               6860201585
dst_OrgBFR                                               6860201585
Name: 1, dtype: object

In [280]:
def findBuildingID(orgBFR):
    try:
        bl_ID = int(orgLoc_df.loc[orgBFR, 'BL_ID'])
    except:
        bl_ID = int(0)
    return bl_ID

In [281]:
f = collab_df.copy()

In [282]:
f['src_BL_ID'] = f.src_OrgBFR.apply(findBuildingID)

In [283]:
f.loc[f.src_BL_ID==0].shape

(43600, 16)

In [286]:
np.unique(f.src_OrgBFR)

array([6008109500, 6008203000, 6008204010, 6008204033, 6008204051,
       6008502000, 6024200000, 6024300000, 6024400000, 6024500000,
       6032000000, 6032414010, 6048100000, 6050102000, 6050502010,
       6056103000, 6056300000, 6056500000, 6064100100, 6064100200,
       6064100600, 6064100700, 6064100710, 6064101000, 6064101400,
       6064101800, 6064102200, 6064102600, 6064103400, 6064103800,
       6064104000, 6064104010, 6064104200, 6064104400, 6064105000,
       6064105200, 6064105610, 6064105700, 6064203300, 6064205600,
       6064209400, 6064254000, 6840000000, 6840103000, 6840202000,
       6840202030, 6860051000, 6860101000, 6860102000, 6860102001,
       6860102500, 6860103500, 6860103501, 6860104500, 6860104510,
       6860105000, 6860107000, 6860107010, 6860201000, 6860201010,
       6860201020, 6860201030, 6860201035, 6860201040, 6860201055,
       6860201060, 6860201070, 6860201075, 6860201080, 6860201300,
       6860201500, 6860201511, 6860201515, 6860201518, 6860201519,
       6860201525, 6860201530, 6860201535, 6860201540, 6860201545,
       6860201546, 6860201550, 6860201555, 6860201565, 6860201574,
       6860201575, 6860201580, 6860201585, 6860201592, 6860201594,
       6860202500, 6860202510, 6860202515, 6860202520, 6860202521,
       6860202525, 6860202530, 6860202535, 6860202545, 6860202550,
       6860202555, 6860202560, 6860202565, 6860202566, 6860202570,
       6860202575, 6860202585, 6860202588, 6860202596, 6860202597,
       6860203000, 6860203025, 6860203030, 6860203040, 6860203045,
       6860203050, 6860203060, 6860203065, 6860203075, 6860203500,
       6860203510, 6860203515, 6860203520, 6860203525, 6860203535,
       6860203540, 6860203545, 6860203550, 6860203555, 6860204000,
       6860204010, 6860204015, 6860204020, 6860204025, 6860204500,
       6860204510, 6860204520, 6860204530, 6860205000, 6860205005,
       6860205010, 6860205015, 6860205020, 6860205025, 6860205030,
       6860205040, 6860205045, 6860205050, 6860205055, 6860205060,
       6860205065, 6860205075, 6860205080, 6860205500, 6860205520,
       6860205525, 6860205530, 6860205535, 6860205540, 6860205560,
       6860205565, 6860205575, 6860206000, 6860206010, 6860206015,
       6860206020, 6860206025, 6860206030, 6860206035, 6860206040,
       6860206045, 6860206050, 6860206500, 6860206510, 6860206520,
       6860206530, 6860206540, 6860206550, 6860206560, 6860206570,
       6860206580, 6860206590, 6860206595, 6860207000, 6860207018,
       6860207019, 6860207020, 6860207021, 6860207022, 6860207023,
       6860207035, 6860207040, 6860207045, 6860207050, 6860207060,
       6860207070, 6860207075, 6860207076, 6860207092, 6860207510,
       6860207520, 6860207710, 6860501000, 6860503000, 6860505000,
       6860508000, 6860508501])

In [278]:
orgLoc_df.loc[60106100, :]

BL_ID                   7455
ADDRESS    1305 Navaho Drive
CITY                 RALEIGH
STATE                     NC
ZIP                    27605
LON                 -78.6192
LAT                  35.8261
Name: 60106100, dtype: object

In [272]:
bl_id =

,BL_ID,ADDRESS1,CITY_ID,STATE_ID,ZIP,LON,LAT
0,7101,400 Gattis St,DURHAM,NC,27701,-78.918480,36.000104
1,7503,40 Duke Medicine Cir,DURHAM,NC,27705,-78.937025,36.004101
2,7505,40 Duke Medicine Cir,DURHAM,NC,27705,-78.937028,36.004417
3,7506,40 Duke Medicine Cir,DURHAM,NC,27705,-78.935105,36.003996
4,7507,40 Duke Medicine Cir,DURHAM,NC,27705,-78.936950,36.003063
5,7508,40 Duke Medicine Cir,DURHAM,NC,27705,-78.935915,36.003337
6,7103,404 Gattis St,DURHAM,NC,27701,-78.918716,35.999696
7,7515,2100 Erwin Rd,DURHAM,NC,27705,-78.933259,36.008089
8,7516,203 Research Dr,DURHAM,NC,27705,-78.940748,36.007164
9,7517,2 Circuit Dr,DURHAM,NC,27705,-78.941805,36.006171
10,7518,10 Circuit Dr,DURHAM,NC,27705,-78.942642,36.005724
11,7523,411 Trent Dr,DURHAM,NC,27705,-78.934128,36.008870
12,7525,11 Genome Ct,DURHAM,NC,27705,-78.942947,36.006336
13,8520,6020 Fayetteville Rd,DURHAM,NC,27713,-78.932369,35.916701
14,8521,480 Ruin Creek Rd,HENDERSON,NC,27536,-78.447838,36.332517
15,8088,3024 Pickett Rd,DURHAM,NC,27705,-78.963643,35.975645
16,8103,4220 N Roxboro St,DURHAM,NC,27704,-78.901919,36.048806
17,8508,4220 N Roxboro St,DURHAM,NC,27704,-78.901825,36.049108
18,7588,11 Center for Living Dr,DURHAM,NC,27705,-78.957040,36.000807
19,7589,15 Center for Living Dr,DURHAM,NC,27705,-78.956675,36.001436
20,7590,302 Trent Dr,DURHAM,NC,27705,-78.934375,36.005485
21,7626,509 Research Dr,DURHAM,NC,27705,-78.937304,36.004346
22,7629,311 Research Dr,DURHAM,NC,27705,-78.939482,36.004812
23,7630,409 Elf St,DURHAM,NC,27705,-78.935793,36.010290
24,7631,2307 Pratt St,DURHAM,NC,27705,-78.935542,36.010250
25,7632,2305 Pratt St,DURHAM,NC,27705,-78.935660,36.010462
26,7634,2223 Pratt St,DURHAM,NC,27705,-78.934938,36.010237
27,7635,2221 Pratt St,DURHAM,NC,27705,-78.934689,36.010178
28,7636,2309 Pratt St,DURHAM,NC,27705,-78.935668,36.010462
29,7637,2301 Pratt St,DURHAM,NC,27705,-78.935327,36.010449
...,...,...,...,...,...,...,...
596,7455,1305 Navaho Drive,RALEIGH,NC,27605,-78.619198,35.826129
597,8322,2200 West Main St,DURHAM,NC,27705,-78.926324,36.007634
598,8553,530 New Waverly Pl,CARY,NC,27518,-78.776191,35.736911
599,8669,95 Springbrook Ave,CLAYTON,NC,27650,-78.505103,35.628531
600,7927,135 Duke Marine Lab Rd,BEAUFORT,NC,28516,-76.670757,34.717968
601,7677,420 Trent Dr,DURHAM,NC,27705,-78.934081,36.008580
602,7974,300 Fuller Street,DURHAM,NC,27701,-78.905681,36.000477
603,7769,324 Towerview Dr,DURHAM,NC,27708,-78.940131,35.997804
604,8340,324 Blackwell St,DURHAM,NC,27701,-78.905037,35.993936
605,7191,1513 Hull Ave,DURHAM,NC,27705,-78.923008,36.002419
606,7274,4 Brodie Gym Dr,DURHAM,NC,27705,-78.918526,36.009220
607,7809,3018 Cameron Blvd,DURHAM,NC,27705,-78.946983,35.995762
608,8129,815 Broad St,DURHAM,NC,27705,-78.919774,36.011033
609,8334,406 E 11 St,AUSTIN,TX,78701,-97.736832,30.271975
610,8160,615 Douglas St,DURHAM,NC,27705,-78.941504,36.009265
611,8161,615 Douglas St,DURHAM,NC,27705,-78.941504,36.009328
612,8241,5213 S Alston Ave,DURHAM,NC,27704,-78.883231,35.886929
613,8653,1991 Fordham Dr,FAYETTEVILLE,NC,28304,-78.917928,35.037955
614,8548,1011 Pemberton Hill Rd,APEX,NC,27502,-78.872125,35.745848
615,7814,406 Chapel Dr,DURHAM,NC,27708,-78.939373,36.000839
616,8280,2223 NE Creek Parkway,DURHAM,NC,27713,-78.880916,35.934524
617,8677,101 Medical Park Dr,MEBANE,NC,27302,-79.272848,36.075124
618,7532,10 Searle Center Dr,DURHAM,NC,27705,-78.938017,36.005750
619,7111,304 Alexander Ave,DURHAM,NC,27705,-78.926971,36.003385
620,7064,1921 Yearby Ave,DURHAM,NC,27705,-78.929636,36.004823
621,7706,415 Chapel Dr,DURHAM,NC,27708,-78.937688,36.002768
622,8357,2020 West Main St,DURHAM,NC,27705,-78.923131,36.007035
623,7237,610 Broad St,DURHAM,NC,27705,-78.918846,36.006609
624,8360,1121 W Chapel Hill St,DURHAM,NC,27701,-78.917684,35.996448
625,8321,2200 West Main St,DURHAM,NC,27705,-78.926324,36.007634