In [1]:
import os
import sys
from os.path import join
import pandas as pd
import numpy as np

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Clean up building-by-department dataset
given that many departments have property in multiple buildings, figure out how to a single location to assign to each department

In [3]:
bl_df = pd.read_table('data/buildingInfo/buildingByDepartment.tsv', sep='\t')

In [4]:
bl_df.head()

  BL_ID FL_ID RM_ID  DUKE_NUMBER
0  7593    06  6004   6860505000
1  7593    06  6302   6860505000
2  7593    06  6005   6860505000
3  7593    06  6013   6860505000
4  7593    06  6204     99999981

Test out with a single unique DUKE_NUMBER

In [5]:
tmp = bl_df.loc[bl_df.DUKE_NUMBER == 6860505000]
tmp.head()

  BL_ID FL_ID RM_ID  DUKE_NUMBER
0  7593    06  6004   6860505000
1  7593    06  6302   6860505000
2  7593    06  6005   6860505000
3  7593    06  6013   6860505000
6  7593    08  8500   6860505000

In [6]:
roomCount = tmp.groupby('BL_ID').count()
roomCount

       FL_ID  RM_ID  DUKE_NUMBER
BL_ID
7504      75     75           75
7505       9      9            9
7593     333    333          333
8060       5      5            5
8138     306    306          306
8641       2      2            2

In [7]:
roomCount.idxmax()

FL_ID          7593
RM_ID          7593
DUKE_NUMBER    7593
dtype: object

Apply this approach to the entire table. Assign a building ID to each unique DUKE_NUMBER
based on the building in which that DUKE_NUMBER is represented the most

In [8]:
# group dataframe based on 1) DUKE_NUMBER, then 2) BL_ID.
# count the number of rooms in each building owned by each DUKE_NUMBER
bl_by_dukeNumber = bl_df.groupby(['DUKE_NUMBER', 'BL_ID']).count()

In [9]:
bl_by_dukeNumber.head()

                   FL_ID  RM_ID
DUKE_NUMBER BL_ID
16000001    7976      54     54
20111000    7502       2      2
            7504       2      2
            7507       8      8
            7508       9      9

In [10]:
# Get the index (i.e.) building ID of the building with the most rooms
bl_id_max = bl_by_dukeNumber.groupby(level='DUKE_NUMBER').idxmax()
bl_id_max.head()

                        FL_ID             RM_ID
DUKE_NUMBER
16000001     (16000001, 7976)  (16000001, 7976)
20111000     (20111000, 7508)  (20111000, 7508)
20112000     (20112000, 7508)  (20112000, 7508)
20113000     (20113000, 8238)  (20113000, 8238)
20114000     (20114000, 8160)  (20114000, 8160)

In [11]:
# reformat the table (grab the bl_id value from each entry, drop unecessary cols)
bl_id_max['BL_ID'] = bl_id_max.loc[:, 'FL_ID'].apply(lambda x: x[1])
bl_id_max.drop(['FL_ID', 'RM_ID'], axis=1, inplace=True)
bl_id_max.head()

            BL_ID
DUKE_NUMBER
16000001     7976
20111000     7508
20112000     7508
20113000     8238
20114000     8160

### Get the details about each building from the building info table
For each buildind ID, retrieve information about its address and location

In [12]:
blinfo = pd.read_table('data/buildingInfo/buildingInfo.tsv', sep='\t')

In [13]:
blinfo.head()

  BL_ID              ADDRESS1 CITY_ID STATE_ID    ZIP        LON        LAT
0  7101         400 Gattis St  DURHAM       NC  27701 -78.918480  36.000104
1  7503  40 Duke Medicine Cir  DURHAM       NC  27705 -78.937025  36.004101
2  7505  40 Duke Medicine Cir  DURHAM       NC  27705 -78.937028  36.004417
3  7506  40 Duke Medicine Cir  DURHAM       NC  27705 -78.935105  36.003996
4  7507  40 Duke Medicine Cir  DURHAM       NC  27705 -78.936950  36.003063

In [14]:
#### Define functions to retrieve values from building info dataframe
def getBuildingInfo(this_bl_id, field):
    val = blinfo.loc[blinfo.BL_ID==this_bl_id, field]
    return val.values[0]

In [15]:
bl_id_max['ADDRESS'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('ADDRESS1',))
bl_id_max['CITY'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('CITY_ID',))
bl_id_max['STATE'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('STATE_ID',))
bl_id_max['ZIP'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('ZIP',))
bl_id_max['LON'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('LON',))
bl_id_max['LAT'] = bl_id_max['BL_ID'].apply(getBuildingInfo, args=('LAT',))

In [16]:
bl_id_max.head()

,BL_ID,ADDRESS,CITY,STATE,ZIP,LON,LAT
DUKE_NUMBER,,,,,,,
16000001,7976,310 Blackwell St,DURHAM,NC,27701,-78.903707,35.993959
20111000,7508,40 Duke Medicine Cir,DURHAM,NC,27705,-78.935915,36.003337
20112000,7508,40 Duke Medicine Cir,DURHAM,NC,27705,-78.935915,36.003337
20113000,8238,3100 Tower Blvd,DURHAM,NC,27707,-78.959159,35.971664
20114000,8160,615 Douglas St,DURHAM,NC,27705,-78.941504,36.009265

This dataframe now has a row for each unique organization. The columns indicate the location of the building associated with each organization. As there can be multiple organizations to one building, certain buildings are repeated multiple times throughout this dataframe

In [17]:
# write this data to file
bl_id_max.to_csv('data/buildingInfo/processed/organization_locations.tsv', sep='\t')

In [18]:
# number of unique buildings in the dataset
len(np.unique(bl_id_max.BL_ID))

173

## Test out how to retrieve distance and duration values from the Google Maps API
Take the latitude and longitude for each building, and find the distance and duration (for walking?) to every other buildings. Test this out with one building to building combo, but put the final code in a separate script so that the API access limits are hit by accidently running the cell mulitple times

In [19]:
bl1 = bl_id_max.iloc[2]
bl1

BL_ID                      7508
ADDRESS    40 Duke Medicine Cir
CITY                     DURHAM
STATE                        NC
ZIP                       27705
LON                    -78.9359
LAT                     36.0033
Name: 20112000, dtype: object

In [20]:
bl2 = bl_id_max.iloc[42]
bl2

BL_ID               7546
ADDRESS    2301 Erwin Rd
CITY              DURHAM
STATE                 NC
ZIP                27705
LON             -78.9384
LAT              36.0071
Name: 30211022, dtype: object

In [21]:
bl3 = bl_id_max.iloc[45]
bl3

BL_ID                      7559
ADDRESS    20 Duke Medicine Cir
CITY                     DURHAM
STATE                        NC
ZIP                       27705
LON                    -78.9367
LAT                     36.0052
Name: 30212001, dtype: object

In [22]:
import googlemaps

In [23]:
gmaps = googlemaps.Client(key='AIzaSyDta2p1trVbKRTnDLVX6m4lkGAA3U-BhA0')

In [24]:
distMatrix = gmaps.distance_matrix((bl1.LAT, bl1.LON), (bl2.LAT, bl2.LON))

In [25]:
distMatrix

{u'destination_addresses': [u'2301 Erwin Rd, Durham, NC 27705, USA'],
 u'origin_addresses': [u'Flowers Dr, Durham, NC, USA'],
 u'rows': [{u'elements': [{u'distance': {u'text': u'1.1 km', u'value': 1060},
     u'duration': {u'text': u'6 mins', u'value': 351},
     u'status': u'OK'}]}],
 u'status': u'OK'}

In [26]:
distMatrix['rows'][0]['elements'][0]['duration']['value']

351

In [27]:
distMatrix['rows'][0]['elements'][0]['distance']['value']

1060

### Ideas for how to loop this
* create 2 dataframes, each N_buildings x N_buildings big
    * initialize with np.zeros array
    * index is building IDs, columns are building IDs
    
* User Itertools to create iterable combination of all building IDs with every other building ID
    * no repeats
    
* Iterate through each building-building combo
    * if they are the SAME building, skip this one. Else
    * set one as origin, one as destination, look up distanceMatrix using gmaps
    * retrieve distance and duration values
    * find BOTH (building 1, building 2) and (building 2, building 1) locations in the appropriate dataframes and write the same value to BOTH coordinates

In [28]:
idx = cols = sort(np.unique(bl_id_max.BL_ID).tolist())

In [29]:
# figure out how big to make each dimension of the array
n_buildings = len(np.unique(bl_id_max.BL_ID))

# create matrix of zeros
distances = durations = np.zeros(shape=(n_buildings, n_buildings))

# initialize dataframe
dist_df = pd.DataFrame(data=distances, index=idx, columns=cols)
dur_df = pd.DataFrame(data=durations, index=idx, columns=cols)

In [30]:
dist_df.head()

,7101,7104,7107,7131,7196,7197,7198,7201,7202,7206,...,8348,8349,8350,8370,8612,8634,8641,8642,8668,DKU5
7101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
dur_df.head()

,7101,7104,7107,7131,7196,7197,7198,7201,7202,7206,...,8348,8349,8350,8370,8612,8634,8641,8642,8668,DKU5
7101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Make a table identifying each collaboration
A collaboration is defined as 2 people working together on the same project. The scholars_publications.csv lists one author per publication. Thus, for publications with more than 1 author, the publication details are repeated multiple times in the dataframe. The goal here is to reformat the collaborations such that each row lists 2 authors who collaborated on a given publication, as well as the rest of the information for that publication (e.g. year, etc...)

In [155]:
# read in the scholars_publications table
pub_df = pd.read_table('./data/scholars_publications.csv', sep='\t', low_memory=False)

# drop the 'ABSTRACT' column to free up memory
pub_df.drop('ABSTRACT', axis=1, inplace=True)

# there are ~200 duplicate rows in this table. Drop them as well
pub_df.drop_duplicates(inplace=True)

In [156]:
pub_df[:3]

,DUID,PRO_FIRST_NAME,PRO_MIDDLE_NAME,PRO_LAST_NAME,DISPLAY_NAME,TITLE,AUTHOR_URI,PUBLICATION_URI,PUBLISHED_DATE,PUBLICATION_TYPE,DOI,ISSN,EISSN,ISBN10,ISBN13,JOURNAL,Volume / Issue
0,623466,David,W,Jang,"Surgery, Head and Neck Surgery and Communicati...",Product comparison model in otolaryngology: Eq...,https://scholars.duke.edu/individual/per7361302,https://scholars.duke.edu/individual/pub1118321,1/1/2016 12:00:00 AM,Theses and Dissertations,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73333,Carol,Casper,Figuers,"Orthopaedics, Physical Therapy",Developing a Professional Embodiment of Moveme...,https://scholars.duke.edu/individual/per4051842,https://scholars.duke.edu/individual/pub1071600,3/3/2015 12:00:00 AM,Theses and Dissertations,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,279169,Jeffrey,Kyle,Covington,"Orthopaedics, Physical Therapy",Developing a Professional Embodiment of Moveme...,https://scholars.duke.edu/individual/per0337862,https://scholars.duke.edu/individual/pub1071600,3/3/2015 12:00:00 AM,Theses and Dissertations,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
# count the number of entries in the table by publication type
numByType = pub_df.groupby('PUBLICATION_TYPE').count()
numByType

,DUID,PRO_FIRST_NAME,PRO_MIDDLE_NAME,PRO_LAST_NAME,DISPLAY_NAME,TITLE,AUTHOR_URI,PUBLICATION_URI,PUBLISHED_DATE,DOI,ISSN,EISSN,ISBN10,ISBN13,JOURNAL,Volume / Issue
PUBLICATION_TYPE,,,,,,,,,,,,,,,,
Book,599,599,286,599,599,599,599,599,599,67,0,0,137,259,0,0
Book Review,115,115,50,115,115,115,115,115,115,30,65,9,0,0,20,0
Book Section,1994,1994,1292,1994,1994,1994,1994,1994,1994,698,0,0,167,1018,0,0
Book Series,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Conference Paper,4976,4976,3405,4976,4976,4976,4976,4976,4976,1279,4487,532,11,617,1359,0
Dataset,4,4,3,4,4,4,4,4,4,3,0,0,0,0,0,0
Digital Publication,84,84,47,84,84,84,84,84,84,2,2,0,0,0,0,0
Journal Article,67878,67876,51405,67876,67851,67876,67878,67878,67878,61075,43625,47900,0,0,27099,67794
Journal Issue,22,22,11,22,22,22,22,22,22,2,9,3,0,0,0,22
Other Article,1276,1276,830,1276,1276,1276,1276,1276,1276,522,491,412,1,10,242,0
Report,106,106,37,106,106,106,106,106,106,7,5,0,0,2,0,0
Scholarly Edition,53,53,29,53,53,53,53,53,53,24,0,0,0,0,0,0
Theses and Dissertations,5,5,3,5,5,5,5,5,5,0,0,0,0,0,0,0

In [158]:
# get the number of collaborators on each project by counting how many entries are associated with each unique PUBLICATION_URI
numByPubURI = pub_df.groupby('PUBLICATION_URI').count()

# grab the index values of publication URIs that have more than 1 author associated with them
multiauthorPubURIs = numByPubURI.loc[numByPubURI.DUID>1].index

In [159]:
# print the number of publications with more than 1 author
multiauthorPubURIs.shape

(13851,)

Test how to make a collaboration table out of all of the authors listed for a given multi-author publication

In [160]:
authors = pub_df.loc[pub_df.PUBLICATION_URI == multiauthorPubURIs[4], :]
authors

,DUID,PRO_FIRST_NAME,PRO_MIDDLE_NAME,PRO_LAST_NAME,DISPLAY_NAME,TITLE,AUTHOR_URI,PUBLICATION_URI,PUBLISHED_DATE,PUBLICATION_TYPE,DOI,ISSN,EISSN,ISBN10,ISBN13,JOURNAL,Volume / Issue
19332,373496,Junzo,Paul,Chino,Radiation Oncology,How much is another randomized trial of lymph ...,https://scholars.duke.edu/individual/per7661872,https://scholars.duke.edu/individual/pub1000158,1/1/2013 12:00:00 AM,Journal Article,10.1016/j.ygyno.2013.06.025,0090-8258,NaN,NaN,NaN,NaN,131 / 1
19338,135843,Evan,Robert,Myers,Obstetrics/Gynecology,How much is another randomized trial of lymph ...,https://scholars.duke.edu/individual/per4103452,https://scholars.duke.edu/individual/pub1000158,1/1/2013 12:00:00 AM,Journal Article,10.1016/j.ygyno.2013.06.025,0090-8258,NaN,NaN,NaN,NaN,131 / 1
19341,71139,Laura,Jean,Havrilesky,"Obstetrics and Gynecology, Gynecologic Oncology",How much is another randomized trial of lymph ...,https://scholars.duke.edu/individual/per0039842,https://scholars.duke.edu/individual/pub1000158,1/1/2013 12:00:00 AM,Journal Article,10.1016/j.ygyno.2013.06.025,0090-8258,NaN,NaN,NaN,NaN,131 / 1

In [161]:
import itertools

In [162]:
for a1,a2 in itertools.combinations(authors.index, 2):
    
    # refer to the first collaborator as the src, and 2nd as dest
    src = authors.loc[a1]
    dest = authors.loc[a2]
    print src.PRO_FIRST_NAME, dest.PRO_FIRST_NAME

Junzo Evan
Junzo Laura
Evan Laura

Use itertools to build an iterator to loop through unique combinations of 2 authors from the full author list for each publication in the multiauthorPubURIs list

In [163]:
# loop through each publication with more than 1 author
collabsList = []
pubID = 0;
for URI in multiauthorPubURIs:
    # get a dataframe of all of the authors for this publication
    authors = pub_df.loc[pub_df.PUBLICATION_URI == URI, :]
    
    # build an iterator to loop through unique combinations of 2 authors
    for a1, a2 in itertools.combinations(authors.index, 2):
        
        # author 1 referred to as src; author 2 as dst
        src = authors.loc[a1]
        dst = authors.loc[a2]
        
        # extract relevant info for each author
        thisCollab = {'src_DUID': src.DUID,
                     'src_FIRST_NAME': src.PRO_FIRST_NAME,
                     'src_MIDDLE_NAME': src.PRO_MIDDLE_NAME,
                     'src_LAST_NAME':src.PRO_LAST_NAME,
                     'dst_DUID': dst.DUID,
                     'dst_FIRST_NAME': dst.PRO_FIRST_NAME,
                     'dst_MIDDLE_NAME': dst.PRO_MIDDLE_NAME,
                     'dst_LAST_NAME': dst.PRO_LAST_NAME,
                     'PUBLICATION_TYPE': src.PUBLICATION_TYPE,
                     'PUBLISHED_DATE':src.PUBLISHED_DATE,
                     'PUBLICATION_URI':src.PUBLICATION_URI, 
                     'PUBLICATION_ID':pubID,
                     'TOTAL_AUTHORS': authors.shape[0]}
        collabsList.append(thisCollab)
    
    # increment publication id
    pubID += 1

# write it all to a dataframe
collab_df = pd.DataFrame(collabsList)

In [165]:
# print the shape; indicates how many collaborations total in this dataset
collab_df.shape

(50153, 13)

In [166]:
collab_df.head()

,PUBLICATION_ID,PUBLICATION_TYPE,PUBLICATION_URI,PUBLISHED_DATE,TOTAL_AUTHORS,dst_DUID,dst_FIRST_NAME,dst_LAST_NAME,dst_MIDDLE_NAME,src_DUID,src_FIRST_NAME,src_LAST_NAME,src_MIDDLE_NAME
0,0,Journal Article,https://scholars.duke.edu/individual/pub1000033,5/1/2013 12:00:00 AM,2,272070,Shelby,Reed,Derene,99016,Richard,Keefe,S.E.
1,1,Journal Article,https://scholars.duke.edu/individual/pub1000035,7/1/2013 12:00:00 AM,2,591120,John,Reynolds,Michael,119821,Laurie,Snyder,Dee
2,2,Journal Article,https://scholars.duke.edu/individual/pub1000091,10/3/2012 12:00:00 AM,2,98973,John,Alexander,Hunter Peel,314783,Pierluigi,Tricoci,NaN
3,3,Journal Article,https://scholars.duke.edu/individual/pub1000099,11/1/2013 12:00:00 AM,2,449347,Endi,Wang,NaN,435364,Maggie,Stoecker,Marie
4,4,Journal Article,https://scholars.duke.edu/individual/pub1000158,1/1/2013 12:00:00 AM,3,135843,Evan,Myers,Robert,373496,Junzo,Chino,Paul

In [167]:
# write this file to disk
collab_df.to_csv('data/processed/collaborations.tsv', sep='\t', index=False)

In [171]:
len(np.unique(pub_df.PUBLICATION_URI))

51233

In [ ]:
collab_df.src_LAST_NAME