In [1]:
import os
import sys
from os.path import join
import pandas as pd
import numpy as np
import time

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

# Vis prep
Additonal filtering of the completed collaborations dataframe for purposes of the vizualization

In [3]:
# read in dataframe
df = pd.read_table('data/processed/collaborations.tsv', sep='\t')

In [33]:
df.shape

(50153, 33)

In [4]:
df.head()

,PUBLICATION_ID,PUBLICATION_TYPE,PUBLICATION_URI,PUBLISHED_DATE,TOTAL_AUTHORS,dst_DUID,dst_FIRST_NAME,dst_LAST_NAME,dst_MIDDLE_NAME,src_DUID,...,src_LAT,dst_ADDRESS,dst_CITY,dst_ZIP,dst_LON,dst_LAT,distance,duration,transportMode,crowDistance
0,0,Journal Article,https://scholars.duke.edu/individual/pub1000033,5/1/2013 12:00:00 AM,2,272070,Shelby,Reed,Derene,99016,...,36.003337,40 Duke Medicine Cir,DURHAM,27705,-78.935915,36.003337,0.0,0.0,walk,0.000000
1,1,Journal Article,https://scholars.duke.edu/individual/pub1000035,7/1/2013 12:00:00 AM,2,591120,John,Reynolds,Michael,119821,...,36.003337,40 Duke Medicine Cir,DURHAM,27705,-78.935915,36.003337,0.0,0.0,walk,0.000000
2,2,Journal Article,https://scholars.duke.edu/individual/pub1000091,10/3/2012 12:00:00 AM,2,98973,John,Alexander,Hunter Peel,314783,...,36.003337,40 Duke Medicine Cir,DURHAM,27705,-78.935915,36.003337,0.0,0.0,walk,0.000000
3,3,Journal Article,https://scholars.duke.edu/individual/pub1000099,11/1/2013 12:00:00 AM,2,449347,Endi,Wang,NaN,435364,...,36.003063,40 Duke Medicine Cir,DURHAM,27705,-78.936950,36.003063,0.0,0.0,walk,0.000000
4,4,Journal Article,https://scholars.duke.edu/individual/pub1000158,1/1/2013 12:00:00 AM,3,135843,Evan,Myers,Robert,373496,...,36.007164,40 Duke Medicine Cir,DURHAM,27705,-78.935105,36.003996,1110.0,883.0,walk,618.435335

### Filter out locations that are far outside campus/downtown durham
from looking at an early visualization of all data, there is one site in particular that is pretty far south and east. Remove any collaboration with a source or destination at this remote site for the purposes of the visualization.

In [15]:
# most southernly
print df['dst_LAT'].min()

# most easternly
print df['dst_LON'].max()

35.9220293709
-78.8691705465

In [34]:
# Find the Address of this location
remoteAddress = df.loc[df.dst_LAT == df.dst_LAT.min(), 'dst_ADDRESS'].iloc[0]
remoteAddress

'19 TW Alexander Dr'

In [32]:
# how many collaborations include this location?
df.loc[(df.dst_ADDRESS == remoteAddress) | (df.src_ADDRESS == remoteAddress)].shape

(200, 33)

In [35]:
# remove
df = df[df.dst_ADDRESS != remoteAddress]
df = df[df.src_ADDRESS != remoteAddress]

df.shape

(49953, 33)

### Filter out any collaborations that exist within the exact same location (i.e. src == dst)

In [36]:
df = df[df.distance > 0]

df.shape

(18319, 33)

### Write the filtered vis data to a file

In [38]:
df.to_csv('vis/vis_collaborations.tsv', sep='\t', index=False)